/*
sans: "Source Sans Pro", Helvetica, Arial, sans-serif !default;
serif: "Domine", Georgia, serif !default;
*/



#main-wrapper {
    width: 100%;
    max-width: 900px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}


.chart {
  height: 500px;
  width: 100%;
}
